@font-face{
  font-family: tan-nimbus;
  src:url(fonts/Regards.otf);
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav-bar{
  background-color: #BF8FA4;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  z-index: 100;
}

.logo{
  text-align: center;
}

.logo-style{
  width: 90px;
}

.nav-options nav ul li a{
  font-family: tan-nimbus;
  font-size: 16px;
  font-weight: 200;
  color: #152C18;
  /*display: inline-block;*/
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.nav-options{
  text-align: center;
  margin-bottom: 3px;
}

.nav-options nav ul li{
  display: inline-block;
  line-height: 30px;
  margin: 0 25px;
}

.nav-options i{
  padding-top: 10px;
}

.divider {
  width: 420px;
  height: 4px;
  border-radius: 4px;
  background-color: #9F505F;
  margin: 0 15px;
  flex-shrink: 0;
}

.nav-options nav ul li a:hover{
  font-size: 19px;
  color: #803B3B;
  /*background-color: #152C18;*/
  border-radius: 4px;
}

/*Reponsiveness*/
@media(max-width: 430px){
  .logo-style{
    width: 70px;
  }

  .divider{
    width: 360px;
  }

  .nav-options nav ul li a{
    font-size: 12px;
  }

  .nav-options nav ul li{
    margin: 0 15px;
  }
}

@media(max-width: 390px){
  .nav-options nav ul li{
    margin: 0 18px;
  }
}