@font-face {
  font-family: 'tan-nimbus';
  src: url('fonts/TAN-NIMBUS.otf') format('opentype'); 
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

/*.nav-bar{
  background-color: #BF8FA4;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  z-index: 100;
}*/

/* hide page scrollbar */
html { scrollbar-width: none; }
body { -ms-overflow-style: none; }
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; }

.main-content{
  background-color: #F8EBD3;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;*/
  padding: 30px 50px;
}

.services{
  font-family: tan-nimbus;
  font-size: 36px;
  color: #152C18;
}

.services h4{
  font-size: 15px;
  color: #803B3B;
}

.cart-btn{
  font-size: 14px;
  font-family: tan-nimbus;
  color: #152C18;
  background-color: #4B494980;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 20px;

  border-radius: 15px;
  border-style: solid;
  border-width: 0;

  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.cart-btn:hover{
  background-color: #83808080;
}

.categories{
  background-color: #9F505F66;
  padding: 10px 30px 30px 30px;

  border-radius: 20px;

  text-align: left;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.title{
  margin-top: 30px;
  font-size: 30px;
  font-family: tan-nimbus;
  font-weight: 700;
  color: #803B3B;
}

.gourmet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.gourmet button{
  border-radius: 15px;
  border-style: solid;
  border-width: 0;

  padding: 10px 13px;

  background-color: #607262;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.gourmet button:hover{
  transform: translateY(-3%);
  background-color: #7b947e;
}

.gourmet img{
  border-radius: 10px;
  width: 170px;
}

.gourmet button div{
  color: #F8EBD3;
  font-weight: 500;
  font-size: 13px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.price{
  background-color: #152C18;
  border-radius: 5px;
  padding: 5px;
}

.gourmet .long-text{
  font-size: 10px;
}


/*OVERLAYS*/


.overlay {
  display: none; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1000; 
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #607262;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 25vw;
  height: 82vh;
  overflow-y: auto;
  color: #F8EBD3; 
}

.close-btn {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 25px;
}

.overlay-content .overlayImg{
  margin-top: 10px;
  width: 23vw;
  overflow: hidden;
}

.overlay-content .overlayImg img {
  width: 100%;
  border-radius: 10px;
}

.itemName {
  font-weight: bold; 
  font-size: 18px; 
}

.productDescription{
  font-size: 12px;
  text-align: center;
}

.overlay .overlay-content .column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay .overlay-content .column .row{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.overlay .overlay-content .column .counterRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counter {
  font-size: 24px; 
}

.counterbtn {
  font-size: 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  width: 35px; 
  height: 35px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: #152c18a8;
  color: #F8EBD3;
  border-radius: 50px;
}

.overlay .overlay-content .column .row .AddToCart,
.overlay .overlay-content .column .row .OrderNow {
  flex: 1; 
  margin: 5px; 
  font-size: 16px;
  height: 40px; 
  text-align: center; 
  border: none; 
  border-radius: 35px;
  cursor: pointer; 
  box-sizing: border-box; 
}

.overlay .overlay-content .column .row .AddToCart{
  color: #607262;
  background-color: #D6BED1;
  font-weight: 1000;
}

.overlay .overlay-content .column .row .OrderNow{
  color: #F8EBD3;
  background-color: #BF8FA4;
  font-weight: 1000;
}

/*responsiveness*/
@media (max-width : 375px){
  
}